#screen:not([data-type=presentation]) ol, #screen .card {
  color: orange;
  width: 90%;
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: flex-end;
}

#screen:not([data-type=presentation]) ol > li {
  flex: 1;
  margin: 0 1rem;
  padding-top: .2rem;
  background-color: #04a4b5;
  opacity: 0.8;
  height: 30vh;
  color: #e5287b;
  text-align: center;
  transform: translateY(10vh);
}
