#options {
    /* margin-top: 5vh; */
}

.ui-input {
  font-size: 100%;
  max-width: 70vw;
}

.ui-button {
  background-color: transparent;
  border: 3px solid #b2b2b2;
  color: #b2b2b2;
  font-size: 100%;
  margin-top: 5vh;
  max-width: 20vw;
  padding: 2vh;
}

.ui-button:hover, .ui-button:focus {
  background-color: #04a4b5;
  border: 3px solid #04a4b5;
}
