#screen[data-type=presentation] h1 {
  font-size: 120%;
}

#screen[data-type=presentation] h2 {
  font-size: 120%;
}

#screen[data-type=presentation] ol {
  width: 90%;
}

#screen[data-type=presentation] ol > li {
  margin-bottom: 3vh;
}

.pz-content {
  padding-top: 0;
}

.pz-content .slide > * {
  margin: 2rem;
}
