#videos {
  margin-top: 4vh;
  grid-gap: 3vh;
/*
  grid-template-columns: 2fr 1fr 1fr, 0 0 1fr 1fr, 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
*/

  grid-template-rows: repeat(2, minmax(20vh, 1fr));
  grid-template-columns: repeat(3, 40vh);

  /* grid-template-rows: repeat(2, 50px); */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(20vh, 1fr)); */
}

#videos.playing {
  display: block;
  background-color: black;
  border: 0;
  position: absolute;
  margin-top: 0;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
}

#videos > a,
#videos > xvideo {
  border: 1vh solid transparent;
  max-height: 100%;
  max-width: 100%;
}

#videos.playing > video {
  display: none;
}

#videos.playing > video.playing {
  display: block;
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#videos > a:focus,
#videos > a:hover,
#videos > xvideo:focus,
#videos > xvideo:hover {
  border: 1vh solid var(--color-highlight);
}

#videos > video.playing:focus,
#videos > video.playing:hover {
  border: 0;
}

#exampleImage:-webkit-full-screen { cursor:zoom-out; }
#exampleImage:-moz-full-screen { cursor:zoom-out; }
#exampleImage:-ms-fullscreen { cursor:zoom-out; }
#exampleImage:fullscreen { cursor:zoom-out; }
